In [1]:
import os
os.environ["DJANGO_SETTINGS_MODULE"] = "mydjango13.settings"
os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"

import django
django.setup()

In [2]:
from mall.models import Shop

In [3]:
Shop.objects.all()

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."update_at" FROM "mall_shop" LIMIT 21; args=()

<QuerySet [<Shop: Shop object (3)>, <Shop: Shop object (4)>, <Shop: Shop object (5)>, <Shop: Shop object (6)>, <Shop: Shop object (7)>, <Shop: Shop object (8)>, <Shop: Shop object (9)>, <Shop: Shop object (10)>, <Shop: Shop object (11)>, <Shop: Shop object (12)>, <Shop: Shop object (13)>, <Shop: Shop object (14)>, <Shop: Shop object (15)>, <Shop: Shop object (16)>, <Shop: Shop object (17)>, <Shop: Shop object (18)>, <Shop: Shop object (19)>, <Shop: Shop object (20)>, <Shop: Shop object (21)>, <Shop: Shop object (22)>, '...(remaining elements truncated)...']>

# Create

In [4]:
shop = Shop() #FirstShop (0), first_shop(x)
shop.name = "투썸플레이스"
shop.telephone = "042-1234-1234"

In [5]:
shop.save()

(0.031) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('투썸플레이스', '', '042-1234-1234', '', '2021-12-01 06:54:04.867714', '2021-12-01 06:54:04.867714'); args=['투썸플레이스', '', '042-1234-1234', '', '2021-12-01 06:54:04.867714', '2021-12-01 06:54:04.867714']

In [6]:
#한방에만들겠다

In [7]:
shop = Shop.objects.create(
    name="셀프24시빨래방",
    telephone="042-1234-4321",
)

(0.032) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('셀프24시빨래방', '', '042-1234-4321', '', '2021-12-01 06:54:04.915028', '2021-12-01 06:54:04.915028'); args=['셀프24시빨래방', '', '042-1234-4321', '', '2021-12-01 06:54:04.915028', '2021-12-01 06:54:04.915028']

In [8]:
#select

In [9]:
qs = Shop.objects.all()

In [10]:
for shop in qs:
    print(shop.pk, shop.name, shop.telephone)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."update_at" FROM "mall_shop"; args=()

3 투썸플레이스 042-1234-1234
4 셀프24시빨래방 042-1234-4321
5 투썸플레이스 042-1234-1234
6 셀프24시빨래방 042-1234-4321
7 가게명#1 042-1234-9001
8 가게명#2 042-1234-9002
9 가게명#3 042-1234-9003
10 가게명#4 042-1234-9004
11 가게명#5 042-1234-9005
12 가게명#6 042-1234-9006
13 가게명#7 042-1234-9007
14 가게명#8 042-1234-9008
15 가게명#9 042-1234-9009
16 가게명#10 042-1234-9010
17 가게명#11 042-1234-9011
18 가게명#12 042-1234-9012
19 가게명#13 042-1234-9013
20 가게명#14 042-1234-9014
21 가게명#15 042-1234-9015
22 가게명#16 042-1234-9016
23 가게명#17 042-1234-9017
24 가게명#18 042-1234-9018
25 가게명#19 042-1234-9019
26 가게명#20 042-1234-9020
27 가게명#21 042-1234-9021
28 가게명#22 042-1234-9022
29 가게명#23 042-1234-9023
30 가게명#24 042-1234-9024
31 가게명#25 042-1234-9025
32 가게명#26 042-1234-9026
33 가게명#27 042-1234-9027
34 가게명#28 042-1234-9028
35 가게명#29 042-1234-9029
36 가게명#30 042-1234-9030
37 가게명#31 042-1234-9031
38 가게명#32 042-1234-9032
39 가게명#33 042-1234-9033
40 가게명#34 042-1234-9034
41 가게명#35 042-1234-9035
42 가게명#36 042-1234-9036
43 가게명#37 042-1234-9037
44 가게명#38 042-1234-9038
45 가게명#39 042-1234-9039
46 가게명#40 042-1234-9040
47 가게명#41 042-1234-9041
48 가게명#42 042-1234-9042
49 가게명#43 042-1234-9043
50 가게명#44 042-1234-9044
51 가게명#45 042-1234-9045
52 가게명#46 042-1234-9046
53 가게명#47 042-1234-9047
54 가게명#48 042-1234-9048
55 가게명#49 042-1234-9049
56 가게명#50 042-1234-9050
57 가게명#51 042-1234-9051
58 가게명#52 042-1234-9052
59 가게명#53 042-1234-9053
60 가게명#54 042-1234-9054
61 가게명#55 042-1234-9055
62 가게명#56 042-1234-9056
63 가게명#57 042-1234-9057
64 가게명#58 042-1234-9058
65 가게명#59 042-1234-9059
66 가게명#60 042-1234-9060
67 가게명#61 042-1234-9061
68 가게명#62 042-1234-9062
69 가게명#63 042-1234-9063
70 가게명#64 042-1234-9064
71 가게명#65 042-1234-9065
72 가게명#66 042-1234-9066
73 가게명#67 042-1234-9067
74 가게명#68 042-1234-9068
75 가게명#69 042-1234-9069
76 가게명#70 042-1234-9070
77 가게명#71 042-1234-9071
78 가게명#72 042-1234-9072
79 가게명#73 042-1234-9073
80 가게명#74 042-1234-9074
81 가게명#75 042-1234-9075
82 가게명#76 042-1234-9076
83 가게명#77 042-1234-9077
84 가게명#78 042-1234-9078
85 가게명#79 042-1234-9079
86 가게명#80 042-1234-9080
87 가게명#81 042-1234-9081
88 가게명#82 042-1234-9082
89 가게명#83 042-1234-9083
90 가게명#84 042-1234-9084
91 가게명#85 042-1234-9085
92 가게명#86 042-1234-9086
93 가게명#87 042-1234-9087
94 가게명#88 042-1234-9088
95 가게명#89 042-1234-9089
96 가게명#90 042-1234-9090
97 가게명#91 042-1234-9091
98 가게명#92 042-1234-9092
99 가게명#93 042-1234-9093
100 가게명#94 042-1234-9094
101 가게명#95 042-1234-9095
102 가게명#96 042-1234-9096
103 가게명#97 042-1234-9097
104 가게명#98 042-1234-9098
105 가게명#99 042-1234-9099
106 가게명#100 042-1234-9100
107 투썸플레이스 042-1234-1234
108 셀프24시빨래방 042-1234-4321

In [11]:
qs.order_by("-id") #정렬은 가급적 단일컬럼을 쓰세요, "created_at")

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."update_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 21; args=()

<QuerySet [<Shop: Shop object (108)>, <Shop: Shop object (107)>, <Shop: Shop object (106)>, <Shop: Shop object (105)>, <Shop: Shop object (104)>, <Shop: Shop object (103)>, <Shop: Shop object (102)>, <Shop: Shop object (101)>, <Shop: Shop object (100)>, <Shop: Shop object (99)>, <Shop: Shop object (98)>, <Shop: Shop object (97)>, <Shop: Shop object (96)>, <Shop: Shop object (95)>, <Shop: Shop object (94)>, <Shop: Shop object (93)>, <Shop: Shop object (92)>, <Shop: Shop object (91)>, <Shop: Shop object (90)>, <Shop: Shop object (89)>, '...(remaining elements truncated)...']>

In [12]:
#데이터 뻥튀기

In [13]:
for i in range(1, 101):
    name = f"가게명#{i}"
    telephone = f"042-1234-9{i:03}"
    Shop.objects.create(
        name=name,
        telephone=telephone,
    )

(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#1', '', '042-1234-9001', '', '2021-12-01 06:54:05.342104', '2021-12-01 06:54:05.342104'); args=['가게명#1', '', '042-1234-9001', '', '2021-12-01 06:54:05.342104', '2021-12-01 06:54:05.342104']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#2', '', '042-1234-9002', '', '2021-12-01 06:54:05.369030', '2021-12-01 06:54:05.369030'); args=['가게명#2', '', '042-1234-9002', '', '2021-12-01 06:54:05.369030', '2021-12-01 06:54:05.369030']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#3', '', '042-1234-9003', '', '2021-12-01 06:54:05.383993', '2021-12-01 06:54:05.383993'); args=['가게명#3', '', '042-1234-9003', '', '2021-12-01 06:54:05.383993', '2021-12-01 06:54:05.383993']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#4', '', '042-1234-9004', '', '2021-12-01 06:54:05.400946', '2021-12-01 06:54:05.400946'); args=['가게명#4', '', '042-1234-9004', '', '2021-12-01 06:54:05.400946', '2021-12-01 06:54:05.400946']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#5', '', '042-1234-9005', '', '2021-12-01 06:54:05.414908', '2021-12-01 06:54:05.414908'); args=['가게명#5', '', '042-1234-9005', '', '2021-12-01 06:54:05.414908', '2021-12-01 06:54:05.414908']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#6', '', '042-1234-9006', '', '2021-12-01 06:54:05.429868', '2021-12-01 06:54:05.429868'); args=['가게명#6', '', '042-1234-9006', '', '2021-12-01 06:54:05.429868', '2021-12-01 06:54:05.429868']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#7', '', '042-1234-9007', '', '2021-12-01 06:54:05.444830', '2021-12-01 06:54:05.444830'); args=['가게명#7', '', '042-1234-9007', '', '2021-12-01 06:54:05.444830', '2021-12-01 06:54:05.444830']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#8', '', '042-1234-9008', '', '2021-12-01 06:54:05.460787', '2021-12-01 06:54:05.460787'); args=['가게명#8', '', '042-1234-9008', '', '2021-12-01 06:54:05.460787', '2021-12-01 06:54:05.460787']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#9', '', '042-1234-9009', '', '2021-12-01 06:54:05.476744', '2021-12-01 06:54:05.476744'); args=['가게명#9', '', '042-1234-9009', '', '2021-12-01 06:54:05.476744', '2021-12-01 06:54:05.476744']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#10', '', '042-1234-9010', '', '2021-12-01 06:54:05.492698', '2021-12-01 06:54:05.492698'); args=['가게명#10', '', '042-1234-9010', '', '2021-12-01 06:54:05.492698', '2021-12-01 06:54:05.492698']
(0.031) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#11', '', '042-1234-9011', '', '2021-12-01 06:54:05.505666', '2021-12-01 06:54:05.505666'); args=['가게명#11', '', '042-1234-9011', '', '2021-12-01 06:54:05.505666', '2021-12-01 06:54:05.505666']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#12', '', '042-1234-9012', '', '2021-12-01 06:54:05.529602', '2021-12-01 06:54:05.529602'); args=['가게명#12', '', '042-1234-9012', '', '2021-12-01 06:54:05.529602', '2021-12-01 06:54:05.529602']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#13', '', '042-1234-9013', '', '2021-12-01 06:54:05.541571', '2021-12-01 06:54:05.541571'); args=['가게명#13', '', '042-1234-9013', '', '2021-12-01 06:54:05.541571', '2021-12-01 06:54:05.541571']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#14', '', '042-1234-9014', '', '2021-12-01 06:54:05.556546', '2021-12-01 06:54:05.556546'); args=['가게명#14', '', '042-1234-9014', '', '2021-12-01 06:54:05.556546', '2021-12-01 06:54:05.556546']
(0.031) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#15', '', '042-1234-9015', '', '2021-12-01 06:54:05.571490', '2021-12-01 06:54:05.571490'); args=['가게명#15', '', '042-1234-9015', '', '2021-12-01 06:54:05.571490', '2021-12-01 06:54:05.571490']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#16', '', '042-1234-9016', '', '2021-12-01 06:54:05.593432', '2021-12-01 06:54:05.593432'); args=['가게명#16', '', '042-1234-9016', '', '2021-12-01 06:54:05.593432', '2021-12-01 06:54:05.593432']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#17', '', '042-1234-9017', '', '2021-12-01 06:54:05.608392', '2021-12-01 06:54:05.608392'); args=['가게명#17', '', '042-1234-9017', '', '2021-12-01 06:54:05.608392', '2021-12-01 06:54:05.608392']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#18', '', '042-1234-9018', '', '2021-12-01 06:54:05.623350', '2021-12-01 06:54:05.623350'); args=['가게명#18', '', '042-1234-9018', '', '2021-12-01 06:54:05.623350', '2021-12-01 06:54:05.623350']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#19', '', '042-1234-9019', '', '2021-12-01 06:54:05.638311', '2021-12-01 06:54:05.638311'); args=['가게명#19', '', '042-1234-9019', '', '2021-12-01 06:54:05.638311', '2021-12-01 06:54:05.638311']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#20', '', '042-1234-9020', '', '2021-12-01 06:54:05.652274', '2021-12-01 06:54:05.653270'); args=['가게명#20', '', '042-1234-9020', '', '2021-12-01 06:54:05.652274', '2021-12-01 06:54:05.653270']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#21', '', '042-1234-9021', '', '2021-12-01 06:54:05.675211', '2021-12-01 06:54:05.675211'); args=['가게명#21', '', '042-1234-9021', '', '2021-12-01 06:54:05.675211', '2021-12-01 06:54:05.675211']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#22', '', '042-1234-9022', '', '2021-12-01 06:54:05.690172', '2021-12-01 06:54:05.690172'); args=['가게명#22', '', '042-1234-9022', '', '2021-12-01 06:54:05.690172', '2021-12-01 06:54:05.690172']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#23', '', '042-1234-9023', '', '2021-12-01 06:54:05.705133', '2021-12-01 06:54:05.705133'); args=['가게명#23', '', '042-1234-9023', '', '2021-12-01 06:54:05.705133', '2021-12-01 06:54:05.705133']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#24', '', '042-1234-9024', '', '2021-12-01 06:54:05.718099', '2021-12-01 06:54:05.718099'); args=['가게명#24', '', '042-1234-9024', '', '2021-12-01 06:54:05.718099', '2021-12-01 06:54:05.718099']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#25', '', '042-1234-9025', '', '2021-12-01 06:54:05.732059', '2021-12-01 06:54:05.733056'); args=['가게명#25', '', '042-1234-9025', '', '2021-12-01 06:54:05.732059', '2021-12-01 06:54:05.733056']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#26', '', '042-1234-9026', '', '2021-12-01 06:54:05.746023', '2021-12-01 06:54:05.746023'); args=['가게명#26', '', '042-1234-9026', '', '2021-12-01 06:54:05.746023', '2021-12-01 06:54:05.746023']
(0.031) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#27', '', '042-1234-9027', '', '2021-12-01 06:54:05.759985', '2021-12-01 06:54:05.759985'); args=['가게명#27', '', '042-1234-9027', '', '2021-12-01 06:54:05.759985', '2021-12-01 06:54:05.759985']

(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#28', '', '042-1234-9028', '', '2021-12-01 06:54:05.786913', '2021-12-01 06:54:05.786913'); args=['가게명#28', '', '042-1234-9028', '', '2021-12-01 06:54:05.786913', '2021-12-01 06:54:05.786913']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#29', '', '042-1234-9029', '', '2021-12-01 06:54:05.799880', '2021-12-01 06:54:05.799880'); args=['가게명#29', '', '042-1234-9029', '', '2021-12-01 06:54:05.799880', '2021-12-01 06:54:05.799880']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#30', '', '042-1234-9030', '', '2021-12-01 06:54:05.813842', '2021-12-01 06:54:05.813842'); args=['가게명#30', '', '042-1234-9030', '', '2021-12-01 06:54:05.813842', '2021-12-01 06:54:05.813842']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#31', '', '042-1234-9031', '', '2021-12-01 06:54:05.826808', '2021-12-01 06:54:05.826808'); args=['가게명#31', '', '042-1234-9031', '', '2021-12-01 06:54:05.826808', '2021-12-01 06:54:05.826808']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#32', '', '042-1234-9032', '', '2021-12-01 06:54:05.845755', '2021-12-01 06:54:05.845755'); args=['가게명#32', '', '042-1234-9032', '', '2021-12-01 06:54:05.845755', '2021-12-01 06:54:05.845755']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#33', '', '042-1234-9033', '', '2021-12-01 06:54:05.860716', '2021-12-01 06:54:05.860716'); args=['가게명#33', '', '042-1234-9033', '', '2021-12-01 06:54:05.860716', '2021-12-01 06:54:05.860716']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#34', '', '042-1234-9034', '', '2021-12-01 06:54:05.874698', '2021-12-01 06:54:05.874698'); args=['가게명#34', '', '042-1234-9034', '', '2021-12-01 06:54:05.874698', '2021-12-01 06:54:05.874698']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#35', '', '042-1234-9035', '', '2021-12-01 06:54:05.892830', '2021-12-01 06:54:05.892830'); args=['가게명#35', '', '042-1234-9035', '', '2021-12-01 06:54:05.892830', '2021-12-01 06:54:05.892830']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#36', '', '042-1234-9036', '', '2021-12-01 06:54:05.905768', '2021-12-01 06:54:05.905768'); args=['가게명#36', '', '042-1234-9036', '', '2021-12-01 06:54:05.905768', '2021-12-01 06:54:05.905768']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#37', '', '042-1234-9037', '', '2021-12-01 06:54:05.920759', '2021-12-01 06:54:05.920759'); args=['가게명#37', '', '042-1234-9037', '', '2021-12-01 06:54:05.920759', '2021-12-01 06:54:05.920759']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#38', '', '042-1234-9038', '', '2021-12-01 06:54:05.937794', '2021-12-01 06:54:05.937794'); args=['가게명#38', '', '042-1234-9038', '', '2021-12-01 06:54:05.937794', '2021-12-01 06:54:05.937794']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#39', '', '042-1234-9039', '', '2021-12-01 06:54:05.952805', '2021-12-01 06:54:05.952805'); args=['가게명#39', '', '042-1234-9039', '', '2021-12-01 06:54:05.952805', '2021-12-01 06:54:05.952805']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#40', '', '042-1234-9040', '', '2021-12-01 06:54:05.966828', '2021-12-01 06:54:05.966828'); args=['가게명#40', '', '042-1234-9040', '', '2021-12-01 06:54:05.966828', '2021-12-01 06:54:05.966828']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#41', '', '042-1234-9041', '', '2021-12-01 06:54:05.980083', '2021-12-01 06:54:05.980083'); args=['가게명#41', '', '042-1234-9041', '', '2021-12-01 06:54:05.980083', '2021-12-01 06:54:05.980083']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#42', '', '042-1234-9042', '', '2021-12-01 06:54:05.993874', '2021-12-01 06:54:05.993874'); args=['가게명#42', '', '042-1234-9042', '', '2021-12-01 06:54:05.993874', '2021-12-01 06:54:05.993874']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#43', '', '042-1234-9043', '', '2021-12-01 06:54:06.008177', '2021-12-01 06:54:06.008177'); args=['가게명#43', '', '042-1234-9043', '', '2021-12-01 06:54:06.008177', '2021-12-01 06:54:06.008177']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#44', '', '042-1234-9044', '', '2021-12-01 06:54:06.022060', '2021-12-01 06:54:06.022060'); args=['가게명#44', '', '042-1234-9044', '', '2021-12-01 06:54:06.022060', '2021-12-01 06:54:06.022060']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#45', '', '042-1234-9045', '', '2021-12-01 06:54:06.035116', '2021-12-01 06:54:06.035116'); args=['가게명#45', '', '042-1234-9045', '', '2021-12-01 06:54:06.035116', '2021-12-01 06:54:06.035116']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#46', '', '042-1234-9046', '', '2021-12-01 06:54:06.049188', '2021-12-01 06:54:06.049188'); args=['가게명#46', '', '042-1234-9046', '', '2021-12-01 06:54:06.049188', '2021-12-01 06:54:06.049188']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#47', '', '042-1234-9047', '', '2021-12-01 06:54:06.064946', '2021-12-01 06:54:06.064946'); args=['가게명#47', '', '042-1234-9047', '', '2021-12-01 06:54:06.064946', '2021-12-01 06:54:06.064946']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#48', '', '042-1234-9048', '', '2021-12-01 06:54:06.077755', '2021-12-01 06:54:06.077755'); args=['가게명#48', '', '042-1234-9048', '', '2021-12-01 06:54:06.077755', '2021-12-01 06:54:06.077755']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#49', '', '042-1234-9049', '', '2021-12-01 06:54:06.098316', '2021-12-01 06:54:06.098316'); args=['가게명#49', '', '042-1234-9049', '', '2021-12-01 06:54:06.098316', '2021-12-01 06:54:06.098316']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#50', '', '042-1234-9050', '', '2021-12-01 06:54:06.115180', '2021-12-01 06:54:06.115180'); args=['가게명#50', '', '042-1234-9050', '', '2021-12-01 06:54:06.115180', '2021-12-01 06:54:06.115180']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#51', '', '042-1234-9051', '', '2021-12-01 06:54:06.128114', '2021-12-01 06:54:06.128114'); args=['가게명#51', '', '042-1234-9051', '', '2021-12-01 06:54:06.128114', '2021-12-01 06:54:06.128114']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#52', '', '042-1234-9052', '', '2021-12-01 06:54:06.144925', '2021-12-01 06:54:06.144925'); args=['가게명#52', '', '042-1234-9052', '', '2021-12-01 06:54:06.144925', '2021-12-01 06:54:06.144925']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#53', '', '042-1234-9053', '', '2021-12-01 06:54:06.159002', '2021-12-01 06:54:06.159002'); args=['가게명#53', '', '042-1234-9053', '', '2021-12-01 06:54:06.159002', '2021-12-01 06:54:06.159002']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#54', '', '042-1234-9054', '', '2021-12-01 06:54:06.171408', '2021-12-01 06:54:06.171408'); args=['가게명#54', '', '042-1234-9054', '', '2021-12-01 06:54:06.171408', '2021-12-01 06:54:06.171408']

(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#55', '', '042-1234-9055', '', '2021-12-01 06:54:06.187502', '2021-12-01 06:54:06.187502'); args=['가게명#55', '', '042-1234-9055', '', '2021-12-01 06:54:06.187502', '2021-12-01 06:54:06.187502']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#56', '', '042-1234-9056', '', '2021-12-01 06:54:06.200503', '2021-12-01 06:54:06.200503'); args=['가게명#56', '', '042-1234-9056', '', '2021-12-01 06:54:06.200503', '2021-12-01 06:54:06.200503']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#57', '', '042-1234-9057', '', '2021-12-01 06:54:06.216576', '2021-12-01 06:54:06.216576'); args=['가게명#57', '', '042-1234-9057', '', '2021-12-01 06:54:06.216576', '2021-12-01 06:54:06.216576']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#58', '', '042-1234-9058', '', '2021-12-01 06:54:06.236627', '2021-12-01 06:54:06.236627'); args=['가게명#58', '', '042-1234-9058', '', '2021-12-01 06:54:06.236627', '2021-12-01 06:54:06.236627']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#59', '', '042-1234-9059', '', '2021-12-01 06:54:06.252129', '2021-12-01 06:54:06.252129'); args=['가게명#59', '', '042-1234-9059', '', '2021-12-01 06:54:06.252129', '2021-12-01 06:54:06.252129']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#60', '', '042-1234-9060', '', '2021-12-01 06:54:06.267166', '2021-12-01 06:54:06.267166'); args=['가게명#60', '', '042-1234-9060', '', '2021-12-01 06:54:06.267166', '2021-12-01 06:54:06.267166']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#61', '', '042-1234-9061', '', '2021-12-01 06:54:06.283198', '2021-12-01 06:54:06.283198'); args=['가게명#61', '', '042-1234-9061', '', '2021-12-01 06:54:06.283198', '2021-12-01 06:54:06.283198']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#62', '', '042-1234-9062', '', '2021-12-01 06:54:06.297192', '2021-12-01 06:54:06.297192'); args=['가게명#62', '', '042-1234-9062', '', '2021-12-01 06:54:06.297192', '2021-12-01 06:54:06.297192']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#63', '', '042-1234-9063', '', '2021-12-01 06:54:06.310466', '2021-12-01 06:54:06.310466'); args=['가게명#63', '', '042-1234-9063', '', '2021-12-01 06:54:06.310466', '2021-12-01 06:54:06.310466']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#64', '', '042-1234-9064', '', '2021-12-01 06:54:06.326261', '2021-12-01 06:54:06.326261'); args=['가게명#64', '', '042-1234-9064', '', '2021-12-01 06:54:06.326261', '2021-12-01 06:54:06.326261']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#65', '', '042-1234-9065', '', '2021-12-01 06:54:06.343573', '2021-12-01 06:54:06.343573'); args=['가게명#65', '', '042-1234-9065', '', '2021-12-01 06:54:06.343573', '2021-12-01 06:54:06.343573']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#66', '', '042-1234-9066', '', '2021-12-01 06:54:06.362207', '2021-12-01 06:54:06.362207'); args=['가게명#66', '', '042-1234-9066', '', '2021-12-01 06:54:06.362207', '2021-12-01 06:54:06.362207']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#67', '', '042-1234-9067', '', '2021-12-01 06:54:06.375950', '2021-12-01 06:54:06.375950'); args=['가게명#67', '', '042-1234-9067', '', '2021-12-01 06:54:06.375950', '2021-12-01 06:54:06.375950']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#68', '', '042-1234-9068', '', '2021-12-01 06:54:06.390984', '2021-12-01 06:54:06.390984'); args=['가게명#68', '', '042-1234-9068', '', '2021-12-01 06:54:06.390984', '2021-12-01 06:54:06.390984']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#69', '', '042-1234-9069', '', '2021-12-01 06:54:06.409052', '2021-12-01 06:54:06.409052'); args=['가게명#69', '', '042-1234-9069', '', '2021-12-01 06:54:06.409052', '2021-12-01 06:54:06.409052']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#70', '', '042-1234-9070', '', '2021-12-01 06:54:06.424074', '2021-12-01 06:54:06.424074'); args=['가게명#70', '', '042-1234-9070', '', '2021-12-01 06:54:06.424074', '2021-12-01 06:54:06.424074']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#71', '', '042-1234-9071', '', '2021-12-01 06:54:06.438987', '2021-12-01 06:54:06.438987'); args=['가게명#71', '', '042-1234-9071', '', '2021-12-01 06:54:06.438987', '2021-12-01 06:54:06.438987']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#72', '', '042-1234-9072', '', '2021-12-01 06:54:06.453991', '2021-12-01 06:54:06.453991'); args=['가게명#72', '', '042-1234-9072', '', '2021-12-01 06:54:06.453991', '2021-12-01 06:54:06.453991']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#73', '', '042-1234-9073', '', '2021-12-01 06:54:06.468985', '2021-12-01 06:54:06.468985'); args=['가게명#73', '', '042-1234-9073', '', '2021-12-01 06:54:06.468985', '2021-12-01 06:54:06.468985']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#74', '', '042-1234-9074', '', '2021-12-01 06:54:06.484008', '2021-12-01 06:54:06.484008'); args=['가게명#74', '', '042-1234-9074', '', '2021-12-01 06:54:06.484008', '2021-12-01 06:54:06.484008']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#75', '', '042-1234-9075', '', '2021-12-01 06:54:06.496858', '2021-12-01 06:54:06.496858'); args=['가게명#75', '', '042-1234-9075', '', '2021-12-01 06:54:06.496858', '2021-12-01 06:54:06.496858']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#76', '', '042-1234-9076', '', '2021-12-01 06:54:06.511681', '2021-12-01 06:54:06.511681'); args=['가게명#76', '', '042-1234-9076', '', '2021-12-01 06:54:06.511681', '2021-12-01 06:54:06.511681']
(0.031) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#77', '', '042-1234-9077', '', '2021-12-01 06:54:06.524901', '2021-12-01 06:54:06.524901'); args=['가게명#77', '', '042-1234-9077', '', '2021-12-01 06:54:06.524901', '2021-12-01 06:54:06.524901']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#78', '', '042-1234-9078', '', '2021-12-01 06:54:06.546580', '2021-12-01 06:54:06.546580'); args=['가게명#78', '', '042-1234-9078', '', '2021-12-01 06:54:06.546580', '2021-12-01 06:54:06.546580']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#79', '', '042-1234-9079', '', '2021-12-01 06:54:06.563197', '2021-12-01 06:54:06.563197'); args=['가게명#79', '', '042-1234-9079', '', '2021-12-01 06:54:06.563197', '2021-12-01 06:54:06.563197']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#80', '', '042-1234-9080', '', '2021-12-01 06:54:06.581095', '2021-12-01 06:54:06.581095'); args=['가게명#80', '', '042-1234-9080', '', '2021-12-01 06:54:06.581095', '2021-12-01 06:54:06.581095']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#81', '', '042-1234-9081', '', '2021-12-01 06:54:06.593322', '2021-12-01 06:54:06.593322'); args=['가게명#81', '', '042-1234-9081', '', '2021-12-01 06:54:06.593322', '2021-12-01 06:54:06.593322']

(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#82', '', '042-1234-9082', '', '2021-12-01 06:54:06.608048', '2021-12-01 06:54:06.608048'); args=['가게명#82', '', '042-1234-9082', '', '2021-12-01 06:54:06.608048', '2021-12-01 06:54:06.608048']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#83', '', '042-1234-9083', '', '2021-12-01 06:54:06.623958', '2021-12-01 06:54:06.623958'); args=['가게명#83', '', '042-1234-9083', '', '2021-12-01 06:54:06.623958', '2021-12-01 06:54:06.623958']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#84', '', '042-1234-9084', '', '2021-12-01 06:54:06.638995', '2021-12-01 06:54:06.638995'); args=['가게명#84', '', '042-1234-9084', '', '2021-12-01 06:54:06.638995', '2021-12-01 06:54:06.638995']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#85', '', '042-1234-9085', '', '2021-12-01 06:54:06.653010', '2021-12-01 06:54:06.653010'); args=['가게명#85', '', '042-1234-9085', '', '2021-12-01 06:54:06.653010', '2021-12-01 06:54:06.653010']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#86', '', '042-1234-9086', '', '2021-12-01 06:54:06.669135', '2021-12-01 06:54:06.669135'); args=['가게명#86', '', '042-1234-9086', '', '2021-12-01 06:54:06.669135', '2021-12-01 06:54:06.669135']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#87', '', '042-1234-9087', '', '2021-12-01 06:54:06.683098', '2021-12-01 06:54:06.683098'); args=['가게명#87', '', '042-1234-9087', '', '2021-12-01 06:54:06.683098', '2021-12-01 06:54:06.683098']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#88', '', '042-1234-9088', '', '2021-12-01 06:54:06.695073', '2021-12-01 06:54:06.695073'); args=['가게명#88', '', '042-1234-9088', '', '2021-12-01 06:54:06.695073', '2021-12-01 06:54:06.695073']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#89', '', '042-1234-9089', '', '2021-12-01 06:54:06.710136', '2021-12-01 06:54:06.710136'); args=['가게명#89', '', '042-1234-9089', '', '2021-12-01 06:54:06.710136', '2021-12-01 06:54:06.710136']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#90', '', '042-1234-9090', '', '2021-12-01 06:54:06.726100', '2021-12-01 06:54:06.726100'); args=['가게명#90', '', '042-1234-9090', '', '2021-12-01 06:54:06.726100', '2021-12-01 06:54:06.726100']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#91', '', '042-1234-9091', '', '2021-12-01 06:54:06.741315', '2021-12-01 06:54:06.741315'); args=['가게명#91', '', '042-1234-9091', '', '2021-12-01 06:54:06.741315', '2021-12-01 06:54:06.741315']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#92', '', '042-1234-9092', '', '2021-12-01 06:54:06.756349', '2021-12-01 06:54:06.756349'); args=['가게명#92', '', '042-1234-9092', '', '2021-12-01 06:54:06.756349', '2021-12-01 06:54:06.756349']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#93', '', '042-1234-9093', '', '2021-12-01 06:54:06.768874', '2021-12-01 06:54:06.768874'); args=['가게명#93', '', '042-1234-9093', '', '2021-12-01 06:54:06.768874', '2021-12-01 06:54:06.768874']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#94', '', '042-1234-9094', '', '2021-12-01 06:54:06.782093', '2021-12-01 06:54:06.782093'); args=['가게명#94', '', '042-1234-9094', '', '2021-12-01 06:54:06.782093', '2021-12-01 06:54:06.782093']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#95', '', '042-1234-9095', '', '2021-12-01 06:54:06.799169', '2021-12-01 06:54:06.799169'); args=['가게명#95', '', '042-1234-9095', '', '2021-12-01 06:54:06.799169', '2021-12-01 06:54:06.799169']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#96', '', '042-1234-9096', '', '2021-12-01 06:54:06.817752', '2021-12-01 06:54:06.817752'); args=['가게명#96', '', '042-1234-9096', '', '2021-12-01 06:54:06.817752', '2021-12-01 06:54:06.817752']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#97', '', '042-1234-9097', '', '2021-12-01 06:54:06.836227', '2021-12-01 06:54:06.836227'); args=['가게명#97', '', '042-1234-9097', '', '2021-12-01 06:54:06.836227', '2021-12-01 06:54:06.836227']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#98', '', '042-1234-9098', '', '2021-12-01 06:54:06.849221', '2021-12-01 06:54:06.850219'); args=['가게명#98', '', '042-1234-9098', '', '2021-12-01 06:54:06.849221', '2021-12-01 06:54:06.850219']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#99', '', '042-1234-9099', '', '2021-12-01 06:54:06.868280', '2021-12-01 06:54:06.868280'); args=['가게명#99', '', '042-1234-9099', '', '2021-12-01 06:54:06.868280', '2021-12-01 06:54:06.868280']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "update_at") VALUES ('가게명#100', '', '042-1234-9100', '', '2021-12-01 06:54:06.883260', '2021-12-01 06:54:06.883260'); args=['가게명#100', '', '042-1234-9100', '', '2021-12-01 06:54:06.883260', '2021-12-01 06:54:06.883260']

In [14]:
##Slicing

In [15]:
qs = Shop.objects.all()

In [16]:
qs[:10] #first 10 rows

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."update_at" FROM "mall_shop" LIMIT 10; args=()

<QuerySet [<Shop: Shop object (3)>, <Shop: Shop object (4)>, <Shop: Shop object (5)>, <Shop: Shop object (6)>, <Shop: Shop object (7)>, <Shop: Shop object (8)>, <Shop: Shop object (9)>, <Shop: Shop object (10)>, <Shop: Shop object (11)>, <Shop: Shop object (12)>]>

In [17]:
qs[0:10:2]

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."update_at" FROM "mall_shop" LIMIT 10; args=()

[<Shop: Shop object (3)>,
 <Shop: Shop object (5)>,
 <Shop: Shop object (7)>,
 <Shop: Shop object (9)>,
 <Shop: Shop object (11)>]

In [21]:
qs[-10:] #last 10 rows => Not supported in DB

AssertionError: Negative indexing is not supported.

In [23]:
for shop in reversed(qs.order_by("id")[:10]):
    print(shop.pk, shop.name, shop.telephone)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."update_at" FROM "mall_shop" ORDER BY "mall_shop"."id" ASC LIMIT 10; args=()

12 가게명#6 042-1234-9006
11 가게명#5 042-1234-9005
10 가게명#4 042-1234-9004
9 가게명#3 042-1234-9003
8 가게명#2 042-1234-9002
7 가게명#1 042-1234-9001
6 셀프24시빨래방 042-1234-4321
5 투썸플레이스 042-1234-1234
4 셀프24시빨래방 042-1234-4321
3 투썸플레이스 042-1234-1234

In [24]:
#conditions

In [25]:
qs = Shop.objects.all()

In [26]:
# filter <=> exclude #서로 반대의 성향이다.
qs.filter(pk=1)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."update_at" FROM "mall_shop" WHERE "mall_shop"."id" = 1 LIMIT 21; args=(1,)

In [27]:
qs.exclude(pk=1)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."update_at" FROM "mall_shop" WHERE NOT ("mall_shop"."id" = 1) LIMIT 21; args=(1,)

<QuerySet [<Shop: Shop object (3)>, <Shop: Shop object (4)>, <Shop: Shop object (5)>, <Shop: Shop object (6)>, <Shop: Shop object (7)>, <Shop: Shop object (8)>, <Shop: Shop object (9)>, <Shop: Shop object (10)>, <Shop: Shop object (11)>, <Shop: Shop object (12)>, <Shop: Shop object (13)>, <Shop: Shop object (14)>, <Shop: Shop object (15)>, <Shop: Shop object (16)>, <Shop: Shop object (17)>, <Shop: Shop object (18)>, <Shop: Shop object (19)>, <Shop: Shop object (20)>, <Shop: Shop object (21)>, <Shop: Shop object (22)>, '...(remaining elements truncated)...']>

In [30]:
#lt란 less than <
#lte :lesss than equal <=
#gt : greater than >
#gte : greather than equal  >=

qs.filter(
    pk__gte=5,
    pk__lt=10,
)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."update_at" FROM "mall_shop" WHERE ("mall_shop"."id" >= 5 AND "mall_shop"."id" < 10) LIMIT 21; args=(5, 10)

In [ ]:
# 위아래 같다.

In [32]:
qs.filter(pk__gte=5).filter(pk__lt=10)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."update_at" FROM "mall_shop" WHERE ("mall_shop"."id" >= 5 AND "mall_shop"."id" < 10) LIMIT 21; args=(5, 10)

In [ ]:
#연결연결 Chaining

In [34]:
qs1 = Shop.objects.all()
qs1 = qs1.filter(pk__gte=5)
qs1 = qs1.filter(pk__lt=10)

In [35]:
qs2 = Shop.objects.all().filter(pk__gte=5).filter(pk__lt=10)

In [ ]:
# QuerySet is Lazy

In [ ]:
qs = Shop.objects.all()

In [36]:
Shop.objects.all()

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."update_at" FROM "mall_shop" LIMIT 21; args=()

<QuerySet [<Shop: Shop object (3)>, <Shop: Shop object (4)>, <Shop: Shop object (5)>, <Shop: Shop object (6)>, <Shop: Shop object (7)>, <Shop: Shop object (8)>, <Shop: Shop object (9)>, <Shop: Shop object (10)>, <Shop: Shop object (11)>, <Shop: Shop object (12)>, <Shop: Shop object (13)>, <Shop: Shop object (14)>, <Shop: Shop object (15)>, <Shop: Shop object (16)>, <Shop: Shop object (17)>, <Shop: Shop object (18)>, <Shop: Shop object (19)>, <Shop: Shop object (20)>, <Shop: Shop object (21)>, <Shop: Shop object (22)>, '...(remaining elements truncated)...']>

In [ ]:
#Get 1 Row

In [39]:
pk = 10
not_existed_pk = 100000

In [41]:
shop = Shop.objects.get(pk=pk) #가져올 대상이 한개임을 기대하는 것
shop

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."update_at" FROM "mall_shop" WHERE "mall_shop"."id" = 10 LIMIT 21; args=(10,)

In [46]:
Shop.objects.get(pk=not_existed_pk) #Shop.objects.get(pk=not_existed_p에 예외가 발생

NameError: name 'not_existed_pk' is not defined

In [42]:
Shop.objects.filter(pk=pk)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."update_at" FROM "mall_shop" WHERE "mall_shop"."id" = 10 LIMIT 21; args=(10,)

In [45]:
Shop.objects.filter(pk=pk)[0]
shop

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."update_at" FROM "mall_shop" WHERE "mall_shop"."id" = 10 LIMIT 1; args=(10,)

In [51]:
Shop.objects.filter(pk=not_existed_pk).first #지정 로우가 없다면 논을 반환할 뿐 예외는 발생x

NameError: name 'not_existed_pk' is not defined

In [52]:
##conditions(OR)

In [53]:
qs = Shop.objects.all()
qs.filter(pk__gte=5, pk__lt=10) #AND

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."update_at" FROM "mall_shop" WHERE ("mall_shop"."id" >= 5 AND "mall_shop"."id" < 10) LIMIT 21; args=(5, 10)

In [54]:
from django.db.models import Q

In [55]:
Q(pk__gte=5)

In [56]:
Q(pk__lt=10)

In [57]:
Q(pk__gte=5) & Q(pk__lt=10)

In [58]:
Q(pk__gte=5) | Q(pk__lt=10)

In [59]:
qs = Shop.objects.all()
qs.filter(
    Q(pk__gte=5) | Q(pk__lt=10)
)

(0.016) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."update_at" FROM "mall_shop" WHERE ("mall_shop"."id" >= 5 OR "mall_shop"."id" < 10) LIMIT 21; args=(5, 10)

<QuerySet [<Shop: Shop object (5)>, <Shop: Shop object (6)>, <Shop: Shop object (7)>, <Shop: Shop object (8)>, <Shop: Shop object (9)>, <Shop: Shop object (10)>, <Shop: Shop object (11)>, <Shop: Shop object (12)>, <Shop: Shop object (13)>, <Shop: Shop object (14)>, <Shop: Shop object (15)>, <Shop: Shop object (16)>, <Shop: Shop object (17)>, <Shop: Shop object (18)>, <Shop: Shop object (19)>, <Shop: Shop object (20)>, <Shop: Shop object (21)>, <Shop: Shop object (22)>, <Shop: Shop object (23)>, <Shop: Shop object (24)>, '...(remaining elements truncated)...']>

In [60]:
conditions = Q(pk__gte=5)
#conditions = conditions | Q(pk__lt=10)
conditions |= Q(pk__lt=10)
conditions

In [ ]:
##수정 update Rows

In [ ]:
##지정 Row

In [62]:
qs = Shop.objects.all()
shop = qs.get(pk=10)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."update_at" FROM "mall_shop" WHERE "mall_shop"."id" = 10 LIMIT 21; args=(10,)

In [63]:
shop.name, shop.telephone

('가게명#4', '042-1234-9004')

In [64]:
shop.telephone = '042-1234-0006'

In [65]:
shop.save()

(0.062) UPDATE "mall_shop" SET "name" = '가게명#4', "description" = '', "telephone" = '042-1234-0006', "photo" = '', "created_at" = '2021-12-01 06:47:15.005256', "update_at" = '2021-12-01 07:38:42.237779' WHERE "mall_shop"."id" = 10; args=('가게명#4', '', '042-1234-0006', '', '2021-12-01 06:47:15.005256', '2021-12-01 07:38:42.237779', 10)

In [ ]:
##지정 범위의 Row

In [67]:
qs = Shop.objects.all()
qs = qs.filter(pk__lte=10)
qs.update(
    description="not used description",
)

(0.046) UPDATE "mall_shop" SET "description" = 'not used description' WHERE "mall_shop"."id" <= 10; args=('not used description', 10)

8

In [70]:
qs = Shop.objects.all()
qs = qs.filter(pk__lte=10)
for shop in qs:
    shop.desctiption = "not used description"
    shop.save()

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."update_at" FROM "mall_shop" WHERE "mall_shop"."id" <= 10; args=(10,)
(0.031) UPDATE "mall_shop" SET "name" = '투썸플레이스', "description" = 'not used description', "telephone" = '042-1234-1234', "photo" = '', "created_at" = '2021-12-01 06:11:34.459017', "update_at" = '2021-12-01 07:42:36.471773' WHERE "mall_shop"."id" = 3; args=('투썸플레이스', 'not used description', '042-1234-1234', '', '2021-12-01 06:11:34.459017', '2021-12-01 07:42:36.471773', 3)
(0.016) UPDATE "mall_shop" SET "name" = '셀프24시빨래방', "description" = 'not used description', "telephone" = '042-1234-4321', "photo" = '', "created_at" = '2021-12-01 06:11:36.912031', "update_at" = '2021-12-01 07:42:36.499764' WHERE "mall_shop"."id" = 4; args=('셀프24시빨래방', 'not used description', '042-1234-4321', '', '2021-12-01 06:11:36.912031', '2021-12-01 07:42:36.499764', 4)
(0.000) UPDATE "mall_shop" SET "name" = '투썸플레이스', "description" = 'not used description', "telephone" = '042-1234-1234', "photo" = '', "created_at" = '2021-12-01 06:47:04.960033', "update_at" = '2021-12-01 07:42:36.512952' WHERE "mall_shop"."id" = 5; args=('투썸플레이스', 'not used description', '042-1234-1234', '', '2021-12-01 06:47:04.960033', '2021-12-01 07:42:36.512952', 5)
(0.000) UPDATE "mall_shop" SET "name" = '셀프24시빨래방', "description" = 'not used description', "telephone" = '042-1234-4321', "photo" = '', "created_at" = '2021-12-01 06:47:06.790110', "update_at" = '2021-12-01 07:42:36.527029' WHERE "mall_shop"."id" = 6; args=('셀프24시빨래방', 'not used description', '042-1234-4321', '', '2021-12-01 06:47:06.790110', '2021-12-01 07:42:36.527029', 6)
(0.016) UPDATE "mall_shop" SET "name" = '가게명#1', "description" = 'not used description', "telephone" = '042-1234-9001', "photo" = '', "created_at" = '2021-12-01 06:47:14.920493', "update_at" = '2021-12-01 07:42:36.540037' WHERE "mall_shop"."id" = 7; args=('가게명#1', 'not used description', '042-1234-9001', '', '2021-12-01 06:47:14.920493', '2021-12-01 07:42:36.540037', 7)
(0.031) UPDATE "mall_shop" SET "name" = '가게명#2', "description" = 'not used description', "telephone" = '042-1234-9002', "photo" = '', "created_at" = '2021-12-01 06:47:14.976669', "update_at" = '2021-12-01 07:42:36.553192' WHERE "mall_shop"."id" = 8; args=('가게명#2', 'not used description', '042-1234-9002', '', '2021-12-01 06:47:14.976669', '2021-12-01 07:42:36.553192', 8)
(0.016) UPDATE "mall_shop" SET "name" = '가게명#3', "description" = 'not used description', "telephone" = '042-1234-9003', "photo" = '', "created_at" = '2021-12-01 06:47:14.991336', "update_at" = '2021-12-01 07:42:36.586268' WHERE "mall_shop"."id" = 9; args=('가게명#3', 'not used description', '042-1234-9003', '', '2021-12-01 06:47:14.991336', '2021-12-01 07:42:36.586268', 9)
(0.031) UPDATE "mall_shop" SET "name" = '가게명#4', "description" = 'not used description', "telephone" = '042-1234-0006', "photo" = '', "created_at" = '2021-12-01 06:47:15.005256', "update_at" = '2021-12-01 07:42:36.599553' WHERE "mall_shop"."id" = 10; args=('가게명#4', 'not used description', '042-1234-0006', '', '2021-12-01 06:47:15.005256', '2021-12-01 07:42:36.599553', 10)

In [18]:
#전체삭제

In [19]:
#qs = Shop.objects.all()

In [20]:
#qs.delete()